<!-- views/lihat-password.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lihat Password</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1 class="text-center">Lihat Password</h1>
    <p>Nama: <%= user.nama %></p>
    <p>Login: <%= user.login %></p>
    <p>Password: <%= user.password %></p>
    <a href="/panel-admin" class="btn btn-primary">Kembali</a>
  </div>
</body>
</html>
